[submodule "open5gs"]
	path = open5gs
	url = https://github.com/UmakantKulkarni/open5gs/
	branch = 7bcb3ee_mongo 
[submodule "opensource-5g-core"]
	path = opensource-5g-core
	url = https://github.com/UmakantKulkarni/opensource-5g-core
[submodule "UERANSIM"]
	path = UERANSIM
	url = https://github.com/UmakantKulkarni/UERANSIM
	branch = 375d538_v3.2.2
[submodule "scripts"]
	path = scripts
	url = https://github.com/UmakantKulkarni/scripts
